<body>
  <div class="home-container animate__animated animate__fadeInUp">
    <h1 class="animate__animated animate__fadeInDown">Welcome back to my users project</h1>
    <p class="animate__animated animate__fadeIn">
      Easily manage and explore your users in one place.
    </p>

    <div class="d-flex justify-content-center gap-4">
      <button
        class="btn btn-light text-primary btn-custom animate__animated animate__zoomIn"
        routerLink="/users"
      >
        Show Users
      </button>
      <button
        class="btn btn-primary btn-custom animate__animated animate__zoomIn animate__delay-1s"
        routerLink="/dashboard"
      >
        Manage Users
      </button>
    </div>
  </div>
</body>
