<body>
  <div class="login-card">
    <!-- Title -->
    <h3>Login</h3>
    <!-- Form start -->
    <form [formGroup]="loginFormData">
      <!-- Email Address -->
      <div class="mb-3">
        <input
          type="email"
          class="form-control"
          placeholder="Email address"
          required
          formControlName="emailId"
        />
        <!-- Email address (INVALID MESSAGE) -->
        @if (loginFormData.get('emailId')?.touched &&
        loginFormData.get('emailId')?.hasError('required')) {
        <small class="text-danger">Email is required</small>
        }@else if ( loginFormData.get('emailId')?.hasError('email')) {
        <small class="text-danger">Invalid Email</small>
        }
      </div>
      <!-- Password -->
      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          required
          formControlName="password"
        />
        <!-- Password (INVALID MESSAGE) -->
        @if (loginFormData.get('password')?.touched &&
        loginFormData.get('password')?.hasError('required')) {
        <small class="text-danger">Password is required</small>
        }@else if ( loginFormData.get('password')?.hasError('minlength')) {
        <small class="text-danger">Invalid Password</small>
        }
      </div>
      <!-- Login (Submit form) button -->
      <button
        type="button"
        class="btn btn-primary btn-login"
        (click)="onLoginSubmit()"
        [disabled]="loginFormData.invalid"
      >
        Login
      </button>
    </form>
    <!-- Form end -->
    <!-- Extra links like (register page navigation) -->
    <div class="extra-links">
      <p>Don’t have an account? <a routerLink="/register">Register</a></p>
    </div>
  </div>
</body>
