<body>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 animate__animated animate__fadeInUp" style="width: 400px">
      <h3 class="text-center mb-4">Edit User</h3>

      <form [formGroup]="userFormData">
        <div class="mb-3">
          <span>User ID : {{ userId }}</span>
        </div>
        <div class="mb-3">
          <label for="">First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            placeholder="First Name"
            required
          />
          @if (userFormData.get('firstName')?.touched &&
          userFormData.get('firstName')?.hasError('required')) {
          <small class="text-danger">First name is required</small>
          }@else if ( userFormData.get('firstName')?.hasError('minlength')) {
          <small class="text-danger">First name min length is 5 characters</small>
          }
        </div>

        <div class="mb-3">
          <label for="">Middle Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="middleName"
            placeholder="Middle Name"
          />
          @if (userFormData.get('middleName')?.touched &&
          userFormData.get('middleName')?.hasError('required')) {
          <small class="text-danger">Middle name is required</small>
          }@else if ( userFormData.get('middleName')?.hasError('minlength')) {
          <small class="text-danger">Middle name min length is 5 characters</small>
          }
        </div>

        <div class="mb-3">
          <label for="">Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            placeholder="Last Name"
            required
          />
          @if (userFormData.get('lastName')?.touched &&
          userFormData.get('lastName')?.hasError('required')) {
          <small class="text-danger">Last name is required</small>
          }@else if ( userFormData.get('lastName')?.hasError('minlength')) {
          <small class="text-danger">Last name min length is 5 characters</small>
          }
        </div>

        <div class="mb-3">
          <label for="">Mobile Number</label>
          <input
            type="number"
            class="form-control"
            formControlName="mobileNo"
            placeholder="Mobile Number"
            required
          />
          @if (userFormData.get('mobileNo')?.touched &&
          userFormData.get('mobileNo')?.hasError('required')) {
          <small class="text-danger">Mobile Number is required</small>
          }@else if ( userFormData.get('mobileNo')?.hasError('pattern')) {
          <small class="text-danger">Invalid Mobile number</small>
          }
        </div>

        <div class="mb-3">
          <label for="">Email Address</label>
          <input
            type="email"
            class="form-control"
            formControlName="emailId"
            placeholder="Email"
            required
          />
          @if (userFormData.get('emailId')?.touched &&
          userFormData.get('emailId')?.hasError('required')) {
          <small class="text-danger">Email is required</small>
          }@else if ( userFormData.get('emailId')?.hasError('email')) {
          <small class="text-danger">Invalid Email</small>
          }
        </div>

        <div class="mb-3">
          <label for="">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Password"
            required
          />
          @if (userFormData.get('password')?.touched &&
          userFormData.get('password')?.hasError('required')) {
          <small class="text-danger">Password is required</small>
          }@else if ( userFormData.get('password')?.hasError('minlength')) {
          <small class="text-danger">Password must atleast be 6 characters</small>
          }
        </div>
        <button
          type="button"
          class="btn btn-secondary w-100 btn-register mb-3"
          [disabled]="userFormData.invalid"
          (click)="goBack()"
        >
          Go Back
        </button>
        <button
          type="button"
          class="btn btn-primary w-100 btn-register"
          [disabled]="userFormData.invalid"
          (click)="onEditConfirm()"
        >
          Confirm
        </button>
      </form>
    </div>
  </div>
</body>
